*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-decoration: line-through;
}